<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="home-title">Soft Ledger:<br/>
        Balance Garden</h1>
        <p class="home-text">It's all about growing things the right way.<br/>
        In a quiet garden, every plant matters.<br/>
        Each one draws sunlight, absorbs water, and shares space with its neighbors.</p>
        <p class="home-text-two">Let the garden settle into harmony.</p>
        <a class="home-link" href="#how">
            <p>Learn the Rules</p>
        </a>
    </div>
</section>