body{
  background: #f9f5f0;
  font-family: "Bellota Text", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #514f8f;
}
h2{
  font-family: "Atma", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: #514f8f;
}
h3{
  font-family: "Atma", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: #514f8f;
    margin-bottom: 48px;
}