.footer{
  background: #514f8f;
  color: #f9f5f0;
      font-weight: 400;
        font-size: 16px;
        letter-spacing: normal;
}
.footer-container{
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;

}
.footer-wraper{
    display: flex;
  flex-direction: column;
    gap: 40px;

}
.footer-navigation{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-text{
  font-weight: 400;
    font-size: 11px;
    line-height: 1.5;
    text-align: right;
}
@media only screen and (min-width: 1440px) {
 .footer-container{
  padding: 40px 160px;
  gap: 16px;
 }
 .footer-wraper{
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
 }
 .footer-navigation{
  text-align: end;
 }
 .footer-text{
font-size: 12px;
 }
}