.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.home-title{
    font-family: "Atma", sans-serif;
font-weight: 700;
font-size: 46px;
line-height: 1.2;
color: #514f8f;
margin-top: 83px;
}
.home-text{
    margin-top: 94px;
    font-weight: 700;
font-size: 20px;
}
.home-text-two{
    margin-top: 16px;
        font-weight: 700;
font-size: 20px;
}
.home-link{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
padding: 16px 24px;
width: 256px;
height: 59px;
background: #514f8f;
font-family: "Bellota Text", sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 1.5;
color: #f9f5f0;
margin-left: auto;
margin-right: auto;
margin-top: 64px;
}
.home-container{
    padding-bottom: 116px;
}
@media only screen and (min-width: 1440px) {
.home-section{
    background-image: url("/img/home/desk.png");
} 
.home-title{
    margin-top: 60px;
    font-size: 80px;
} 
.home-text{
    margin-top: 32px;
    width: 540px;
} 
.home-text-two{
    margin-top: 94px;
} 
.home-link{
    margin-top: 32px;
    margin-left: 0;
}
}
/* The Garden */
.garden-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}
@media only screen and (min-width: 1440px) {
 .garden-container{
    flex-direction: row-reverse;
    gap: 96px;
 }
}
/* How It Works */
.how-container{
    display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
}
.how-list{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    list-style-type: disc;
    font-weight: 700;
        font-size: 18px;
        margin-bottom: 16px;
}
@media only screen and (min-width: 1440px) {
  .how-container{
    flex-direction: row;
    gap: 96px;
  }
  .how-list{
    font-size: 20px;
  }
}
/* Garden Rules */
.rules-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.rules-item{
    border-radius: 16px;
        padding: 16px;
        width: 343px;
            height: auto;
    box-shadow: 2px 4px 4px 0 #f0ebe5;
        background: #e5e5ef;
}
.rules-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.rules-title{
    font-weight: 700;
        font-size: 18px;
}
.rules-list-item{
    padding-left: 30px;
    list-style-type: disc;
}
@media only screen and (min-width: 1440px) {
 .rules-list{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    row-gap: 18px;
 }
 .rules-item{
    width: 544px;
 }
 .rules-title{
    font-size: 20px;
 }
}
/* Growth */
.growth-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.growth-list{
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 700;
        font-size: 18px;
padding-left: 30px;
list-style-type: disc;
}
@media only screen and (min-width: 1440px) {
 .growth-container{
    flex-direction: row;
    gap: 96px;
 }
 .growth-wrapper{
    width: 544px;
 }
 .growth-list{
    font-size: 20px;
 }
}